<template>
  <card-container>
    <div class=" h-32 w-32 "
    :class="{['bg-amber-600']:kondisi,['bg-red-600']:!kondisi,}">
      <p>{{ item.name }}</p>
      <p>{{ item.class }}</p>
      <p>{{ item.height }}</p>
      <p>{{ item.weight }}</p>
    </div>
    <button @click="tambah">increment</button>
  </card-container>
</template>

<script>
import CardContainer from './CardContainer.vue'
export default {
  name: 'CardTes',
  components: {CardContainer},
  data() {
    return {
      iniData: ''
    }
  },
  props: {
    item: {
      type: Object,
      default: ()=>{},
    },
    kondisi: {
      type: Boolean,
      default: true
    }
  },
  methods: {
    changeData() {
      this.iniData = 'ada'
    },
    tambah() {
      this.$emit('tambah','dua')
    }
  }

}
</script>

<style>

</style>